<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
  </nav>

  <main>
    {% block content %}
    <section class="hero" data-aos="fade-up">
      <h1 id="typing-text">
  👋 Hi, I'm <span class="highlight">Kowthrapu Hanuman</span> — A Backend Developer.
</h1>
<p id="subtext" class="fade-up">
  Welcome to my world of coding, creativity, and innovation!
</p>
<a href="/projects" class="btn" data-aos="zoom-in">View My Work</a>
    </section>
    {% endblock %}
  </main>



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>AOS.init({ duration: 1000, once: true });</script>
</body>
</html>
