{% extends "index.html" %}
{% block content %}
<section>
  <h2>🚀 My Projects</h2>

  <div class="project-card">
    <h3>Flight Satisfaction Prediction</h3>
    <p>Flight Satisfaction Prediction is a machine learning project that predicts whether airline passengers are satisfied or dissatisfied based on factors like service quality, seat comfort, and overall travel experience. The model uses data preprocessing, feature engineering, and classification algorithms to analyze customer feedback and provide insights that help airlines improve service quality and enhance passenger experience.
</p>
    <a href="https://github.com/kowthrapu-hanuman/Flight__satisfaction" class="btn">View Code</a>
  </div>

  <div class="project-card">
    <h3>Automatic-News-Scrapping</h3>
    <p>
Automatic News Scraping with Python is a project that collects and extracts news articles from various online sources using web scraping techniques. It uses Python libraries like BeautifulSoup and requests to fetch, parse, and organize news data such as headlines, summaries, and links. This project helps automate data collection for analysis, keeping users updated with the latest news efficiently.
</p>
    <a href="https://github.com/kowthrapu-hanuman/Automatic-News-Scrapping" class="btn">View Code</a>
  </div>
  <div class="project-card">
    <h3>Business Report Automation</h3>
    <p>Business Report Automation is a project that streamlines the creation of reports by automatically collecting, processing, and presenting data using Python. It integrates data sources, performs analysis, and generates structured reports with minimal manual effort, improving accuracy and saving time for decision-making.
</p>
    <a href="https://github.com/kowthrapu-hanuman/business_report_automation" class="btn">View Code</a>
  </div>
</section>
{% endblock %}
