{% extends "index.html" %}
{% block content %}
<section>
  <h2>🚀 My Projects</h2>

  <div class="project-card">
    <h3>Flight Satisfaction Prediction</h3>
    <p>Machine Learning model using Logistic Regression, Random Forest, and Flask deployment.</p>
    <a href="https://github.com/kowthrapu-hanuman/Flight__satisfaction" class="btn">View Code</a>
  </div>

  <div class="project-card">
    <h3>Automatic-News-Scrapping</h3>
    <p>Web scraping tool to automatically collect news articles from various sources.</p>
    <a href="https://github.com/kowthrapu-hanuman/Automatic-News-Scrapping" class="btn">View Code</a>
  </div>
  <div class="project-card">
    <h3>Business Report Automation</h3>
    <p>Automated solution for generating business reports from various data sources.</p>
    <a href="https://github.com/kowthrapu-hanuman/business_report_automation" class="btn">View Code</a>
  </div>
</section>
{% endblock %}
